@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 0%, 8%);
    font-family: 'Inter', sans-serif;
    color: white;
}
a, a:visited, a:link, a:active{
    color: green;
    text-decoration: none;
    font-size: 1rem;
}

.container{
    background-color: hsl(0, 0%, 12%);
    width: 90%; 
    /* min-height: 75vh; */
    margin-top: 50%;
    margin :auto; 
    margin-top: 10%;
     
    max-width: 700px;
    color: white;
    position: relative;
    
    padding:2em;
}
.header-image{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.5em;
}
.header-image img{
    width: 10rem;
    max-width: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 2em;
}
.header-image h1{
    margin-bottom: .2em;
    font-weight: 600;
}
.header-image p{
    color: hsl(75, 94%, 57%);
    font-weight: 700;   
}

.bio{
    margin-bottom: 2em;
    text-align: center;
}

.social__links{
    list-style: none;
}
.social_links-item{
    padding:1em;
    background-color: hsl(0, 0%, 20%);
    text-align: center;
    margin-top: 1em;
    font-weight: 700;
    border-radius: .7rem;
}

.social_links-item:hover{
    cursor: pointer;
    opacity: .7;
}